@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body{
    background-image: url("/Assets/Video/space2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Akaya Telivigala', cursive;
}
.card{
    background-color: white;
    border: 4px solid black;
}
#imgView{
    opacity: 1;
}

#recentView{
    background-color: black;
    padding: 10px;
}

.navbar{
    text-align: left;
    background-color: black;
margin-bottom: 10%;

}
 .footer{
     background-color: rgba(38, 39, 39, 0.8);
     color: white;
 }
 .heading1{
     font-size: 20px;
 }
